.section{
    height: 150px;
    width: 360px;
    background-color: gray;
    position:fixed;
    right: 0%;
    top: 70%;
    text-align: center;
}

.container-box-colores{
    display: flex;
}

.box{
    height: 50px;
    width: 70px;
    border: 1px black solid;
    font-size: 10px;
    text-align: center;
}

.box1{
    background-color: var(--color1);
}

.box2{
    background-color: var(--color2);
}
.box3{
    background-color: var(--color3);
}
.box4{
    background-color: var(--color4);
}
.box5{
    background-color: var(--color5);
}

.box6{
    background-color: var(--color6);
}

.titulo{
    font-size: 17px;
    font-family: var(--title);
    font-style: italic;
    font-weight: 700;
}



.texto{
    font-family: var(--text);
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
}