:root {
  --background: #242424;
  --color1: #F6FFF8;
  --color2: #CCE3DE;
  --color3: #A4C3B2;
  --color4: #6B9080;
  --color5: #3B6064;
  --color6: #364958;

  
  --title: "Titillium Web", sans-serif;
  --text: "Hind Madurai", sans-serif;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /*
opcion 1
background-image: linear-gradient(to right top, #f6fff8, #ecf8f1, #e1f1ea, #d7eae4, #cce3de);
*/

  /* opcion 2
background-image: linear-gradient(to right top, #eaf4f4, #e2f0ef, #dbecea, #d3e7e4, #cce3de);
*/

  background-image: linear-gradient(to right top, #eaf4f4, #d6e8e6, #c4dcd6, #b3cfc5, #a4c3b2);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

* {
  margin: 0px;
  padding: 0px;
}