.banner {
    position: fixed;
    top: 0%;
    height: 9vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color5);
}


.lista-pestañas {
    display: flex;
    align-items: center;
}

.Contact-Language {
    display: flex;
    align-items: center;
}

.li-style {
    display: flex;
    align-items: center;
    
    margin-right: 10px;
    margin-left: 10px;

    font-family: var(--text);
    font-weight: 300;
    font-size: 16px;
    color: var(--color3);

    cursor: pointer;
}

.li-style:hover {
    text-decoration: underline;
}

.telephone-icon {
    height: 30px;
    width: 30px;
    margin: 3px;
}

.icon-lenguage {
    cursor: pointer;
    height: 33px;
    width: 33px;
}